<link rel="main.css.scss" href="main.css.scss" type="text/css">
<tr id = "task_<%=@t.id%>" class="row_change">
  <%if @t.status==true%>
      <td class="col_change_first"><input type="checkbox" name="isDone" href = "/change_task_status/<%=@t.id%>" checked></td>
  <%else%>
      <td class="col_change_first"><input type="checkbox" name="isDone" href = "/change_task_status/<%=@t.id%>"></td>
  <%end%>
  <td class=" editable col_change"> <%=@t.name%> </td>
  <td class="col_change">
    <input type="button" class="imgClassUp" />
    <input type="button" class= "imgClassEdit" href = "/edit_task/<%=@t.id%>">
    <input type="button" class="imgClassDelete" href = "/destroy_task/<%=@t.id%>" name="task_<%=@t.id%>">
  </td>
</tr>